* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: none;
}

input,
output {
  border: none;
  background: none;
  outline: none;
}

input,
output:focus {
  outline: none;
}

/* ====================================================== main */
.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 20px;
}

.popular_section {
  background-color: #ECECEC;
  padding-top: 58px;
  padding-bottom: 58px;
}
.popular_section .popular_title {
  color: #505050;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  position: relative;
}
.popular_section .popular_card {
  box-shadow: 5px 10px 10px rgb(214, 208, 208);
}
.popular_section .popular_card .popular_img-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 252px;
  margin-bottom: 20px;
}
.popular_section .popular_card .popular_img-wrapper-1 {
  background-image: url("../../../../assets/img/Rectangle 9 s.png");
}
.popular_section .popular_card .popular_img-wrapper-2 {
  background-image: url("../../../../assets/img/2.png");
}
.popular_section .popular_card .popular_img-wrapper-3 {
  background-image: url("../../../../assets/img/3.png");
}
.popular_section .popular_card .popular_img-wrapper-4 {
  background-image: url("../../../../assets/img/4.png");
}

.popular_card-header {
  display: flex !important;
  justify-content: space-between;
}

.card_header-left-title {
  color: #252525 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 23.4px !important;
}

.card_header-left-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #767676;
  margin-bottom: 20px;
}

.popular_card-footer .card_footer-info .popular_card-info {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #505050;
  border: 2px solid #b6b1b1;
  padding: 2px 6px;
  border-radius: 100px;
  width: 150px;
  text-align: center;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 586px) {
  .popular_title {
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 31.2px !important;
  }
}
.products_section {
  background-color: #FFFFFF;
  padding-top: 224px;
  padding-bottom: 100px;
}
.products_section .product_wrapper .product_title {
  color: #505050;
  font-size: 40px;
  font-size: 40px !important;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 8px;
  position: relative !important;
}
.products_section .product_cards .product_card {
  box-shadow: 5px 10px 10px rgb(214, 208, 208);
}
.products_section .product_cards .product_card .product_img-wrapper {
  background-color: gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.products_section .product_cards .product_card .product_img-wrapper-1 {
  background-image: url("../../../../assets/img/Rectangle 9.png");
}
.products_section .product_cards .product_card .product_img-wrapper-2 {
  background-image: url("../../../../assets/img/Rectangle 9-1.png");
}
.products_section .product_cards .product_card .product_img-wrapper-3 {
  background-image: url("../../../../assets/img/Rectangle 9-2.png");
}
.products_section .product_cards .product_card .product_img-wrapper-4 {
  background-image: url("../../../../assets/img/lg.png");
}
.products_section .product_cards .product_card .product_card-body .product_card-header {
  background-color: #FFFFFF !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
}
.products_section .product_cards .product_card .product_card-body .product_card-header .card_header-left-title {
  color: #252525;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  text-align: left;
}
.products_section .product_cards .product_card .product_card-body .product_card-header .card_header-left-desc {
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
}
.products_section .product_cards .product_card .product_card-body .product_card-header .card_header-right-price {
  color: #252525;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  text-align: right;
}
.products_section .product_cards .product_card .product_card-body .product_card-footer .card_footer-info {
  width: 150px;
  padding: 0;
  margin: 0;
}
.products_section .product_cards .product_card .product_card-body .product_card-footer .card_footer-info .product_card-info {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #505050;
  border: 2px solid #b6b1b1;
  padding: 2px 6px;
  border-radius: 100px;
}

.above_title::after {
  content: "";
  width: 80.29px;
  height: 3px;
  background-color: #AB0433;
  position: absolute !important;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  border: none !important;
}

.card-footer {
  background-color: #ffffff !important;
  padding: 0 !important;
}

@media screen and (max-width: 586px) {
  .header_btm-msg {
    padding: 18px 51px;
  }
  .header_btm-msg .header_btm-title {
    font-size: 21px !important;
    font-weight: 700 !important;
    line-height: 25.2px !important;
  }
  .header_btm-msg .desc {
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 14.9px !important;
  }
  .header_btm-msg .header_btm-btn {
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 15.6px !important;
  }
  .products_section {
    padding-top: 150px !important;
  }
  .products_section .product_wrapper .product_title {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 355px) {
  .products_section {
    padding-top: 280px !important;
  }
}
.footer {
  background-color: #505050;
  padding: 69px 100px;
}
.footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_wrapper .footer_left {
  display: flex;
}
.footer .footer_wrapper .footer_left .footer_link-wrapper {
  position: relative;
}
.footer .footer_wrapper .footer_left .footer_link-wrapper::after {
  content: "";
  width: 50px;
  height: 3px;
  position: absolute;
  top: -15px;
  background-color: #FFFFFF;
}
.footer .footer_wrapper .footer_left .footer_link-wrapper .footer_link {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer .footer_wrapper .footer_left .footer_link-wrapper .footer_link b {
  font-weight: 700;
}
.footer .footer_wrapper .footer_left .footer_link-wrapper .footer_link a {
  color: #ffffff;
  transition: 0.2s all linear;
}
.footer .footer_wrapper .footer_left .footer_link-wrapper .footer_link a:hover {
  opacity: 0.4;
}
.footer .footer_wrapper .footer_right {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
.footer .footer_wrapper .footer_right .logo {
  margin-bottom: 25px;
  cursor: pointer;
}
.footer .footer_wrapper .footer_right .socials {
  text-align: end;
}
.footer .footer_wrapper .footer_right .socials img {
  margin-left: 12px;
  cursor: pointer;
}
.footer .footer_wrapper .footer_right .socials img:first-child {
  margin-left: 0;
}

@media screen and (max-width: 811px) {
  .footer {
    padding: 39px 30px;
  }
  .footer .footer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer .footer_wrapper .footer_right {
    align-self: center !important;
  }
  .footer .footer_wrapper .footer_right .socials {
    text-align: center !important;
  }
}
@media screen and (max-width: 450px) {
  .footer .footer_wrapper .footer_left {
    display: block;
  }
  .footer .footer_wrapper .footer_left .footer_link-wrapper {
    text-align: center;
  }
  .footer .footer_wrapper .footer_left .footer_link-wrapper::after {
    content: "";
    width: 50px;
    height: 3px;
    position: absolute;
    top: -15px;
    left: 50% !important;
    background-color: #FFFFFF;
  }
  .footer .footer_wrapper .footer_left .second {
    display: none;
  }
  .footer .footer_wrapper .footer_right .logo {
    display: none;
  }
}
.header {
  background-image: url("../../../../assets/img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}
.header .nav {
  padding: 33px 0;
  justify-content: space-between;
}
.header .nav .nav_left {
  display: flex;
  align-items: center;
}
.header .nav .nav_left .nav_icon {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.header .nav .nav_left .nav_icon img {
  width: 90%;
  min-width: 155px;
}
.header .nav .nav_left .links_wrapper {
  display: flex;
  align-items: center !important;
}
.header .nav .nav_left .links_wrapper .nav_links {
  display: flex;
  align-self: center;
  margin: auto 0;
}
.header .nav .nav_left .links_wrapper .nav_links .nav_link {
  margin-right: 20px;
  display: block;
}
.header .nav .nav_left .links_wrapper .nav_links .nav_link a {
  color: #FCFCFC;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  transition: 0.2s all linear;
}
.header .nav .nav_left .links_wrapper .nav_links .nav_link a:hover {
  opacity: 0.6;
}
.header .nav .nav_right .nav_img:first-child {
  margin-right: 16px;
}
.header .nav .nav_right .nav_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav .nav_right .none {
  display: none;
}
.header .header_wrapper .header_title {
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-top: 10%;
}
.header .header_btm-msg {
  position: relative;
  top: 120px;
  background-color: #AB0433;
  padding: 49.5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../assets/img/Mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header_btm-msg .header_btm-wrapper {
  text-align: center;
}
.header .header_btm-msg .header_btm-wrapper .header_btm-title {
  font-size: 46px;
  font-weight: 700;
  line-height: 55.2px;
  color: #FFFFFF;
}
.header .header_btm-msg .header_btm-wrapper .desc {
  font-size: 24px;
  font-weight: 600;
  line-height: 35.76px;
  color: #FFFFFF;
}
.header .header_btm-msg .header_btm-wrapper .header_btm-btn {
  background-color: #FF753A;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  color: #ffffff;
  margin-top: 16px;
  transition: 0.2s all linear;
}
.header .header_btm-msg .header_btm-wrapper .header_btm-btn:hover {
  background-color: #f15a1a;
  box-shadow: 0 0 10px #ef936c;
}

@media screen and (max-width: 1025px) {
  .header {
    background-position: bottom !important;
  }
  .header .nav_left .links_wrapper {
    display: none !important;
  }
  .header .nav_right .nav_img:first-child,
  .header .nav_right .nav_img:nth-child(2) {
    display: none !important;
  }
  .header .nav_right .none {
    display: flex !important;
  }
}
@media screen and (max-width: 586px) {
  .header {
    background-position: bottom;
  }
  .header .header_wrapper .header_title {
    margin-top: 30%;
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
